mixin about-us()
  section.about-us
    .about-us__wrapper
      .about-us__content
        h2.about-us__headline
          span.about-us__headline.about-us__headline--count 167
          span.about-us__headline Лет нашего опыта
        p!= 'DuffBeer — один из мировых лидеров по производству дрожжей и других продуктов ферментации. И нам нужна сильная команда профессионалов и единомышленников, которые будут стремиться развиваться вместе с DuffBeer.'
        p!= 'Мы всегда рады принять талантливых и целеустремленных людей в нашу дружную команду! Мы ценим каждого своего сотрудника и стремимся предоставить всем равные возможности в развитии <br class="br"/> и&nbsp;совершенств.'
      .about-us__video
        +video('4JS70KB9GS0', 'Как вставить двадцать видео с Ютуба и не скачать слона')
