mixin section-stats()
  -
    const items = [
      {
        img: "stats-1",
        width: 565,
        height: 294,
        wide: true,
        count: false,
        text: "10 700+ сотрудников"
      },
      {
        img: "stats-2",
        width: 294,
        height: 294,
        wide: false,
        count: false,
        text: "570 экспертов R&D"
      },
      {
        img: false,
        count: 167,
        text: "лет опыта на&nbsp;рынке&nbsp;хлебопечения"
      },
      {
        img: "stats-3",
        width: 565,
        height: 294,
        wide: true,
        count: false,
        text: "25+ лет в Росии"
      },
      {
        img: "stats-4",
        width: 565,
        height: 294,
        wide: true,
        count: false,
        text: "Филиалы в 50 странах"
      },
      {
        img: false,
        count: 4,
        text: "направления деятельности"
      },
    ]

  section.section.section--stats
    h2.section__headline.section__headline--lato DUFFBEER
    p.section__subtitle Ключевой мировой игрок в&nbsp;области ферментации
    .section__swiper-wrapper
      .swiper.swiper-grid.swiper-grid--stats.is-destroy
        .swiper-wrapper
          each item in items
            .swiper-slide
              if (item.img)
                if (item.wide)
                  article.stats.stats--image.stats--wide
                    .stats__img-wrap
                      +img("content", item.img , "jpg", item.width, item.height, item.text, true).advantage__img
                    h2.stats__headline= item.text
                else
                  article.stats.stats--image.stats--tiny
                    .stats__img-wrap
                      +img("content", item.img , "jpg", item.width, item.height, item.text, true).advantage__img
                    h2.stats__headline= item.text
              else
                article.stats.stats--box
                  h2.stats__headline
                    span.stats__headline.stats__headline--count= item.count
                    span.stats__headline !{item.text}

      +btn({text: "Показать предыдущий слайд"})(aria-label="Показать предыдущий слайд").section__swiper-button.section__swiper-button--prev
        +icon("icon-prev").section__swiper-icon
      +btn({text: "Показать следующий слайд"})(aria-label="Показать следующий слайд").section__swiper-button.section__swiper-button--next
        +icon("icon-next").section__swiper-icon
    .section__swiper-pagination.swiper-pagination

