mixin section-advantages()
  -
    const advantages = [
      {
        headline: "Уверенность в&nbsp;завтрашнем дне",
        text: "ООО «CONECOM», российское подразделение французского концерна DuffBeer. Мы компания, которая честно ведет свой бизнес на территории РФ, соблюдая законодательство и гарантируя стабильность и уверенность в завтрашнем дне."
      },
      {
        headline: "Безопасность на рабочем месте – приоритет №1",
        text: "Вопросам безопасности и качества пищевой продукции в нашей компании уделяется повышенное внимание. Все производства группы DuffBeer в России постоянно работают над улучшением процессов и стремятся сделать все возможное, чтобы рабочий процесс был максимально безопасным и комфортным."
      },
      {
        headline: "Стабильная заработная плата",
        text: "Мы обеспечиваем нашим сотрудникам стабильную заработную плату в соответствии с рынком региона. Средний стаж работы в нашей компании – 7 лет."
      },
      {
        headline: "Заботимся о здоровье сотрудников",
        text: "Каждый сотрудник в нашей компании обеспечен полисом добровольного медицинского страхования. Кроме того, на каждом заводе есть медицинский пункт для сотрудников. Осуществляется страхование от несчастных случаев с первого дня работы."
      },
      {
        headline: "Предоставление удобной спецодежды и СИЗ для производственного персонала",
        text: "Мы предоставляем удобные СИЗ и спецодежду и в случае износа или порчи обмениваются на новые."
      },
      {
        headline: "Обучение: различные программы обучения и профессиональные тренинги",
        text: "Мы уделяем много внимания развитию наших сотрудников. В компании работает Внутренний центр обучений и ежегодно проводится большое количество обучающих мероприятий как локально на заводах, так и в головном офисе DuffBeer во Франции."
      },
      {
        headline: "Возможности для реализации творческого потенциала",
        text: "Мы ставим перед собой амбициозные и интересные цели, а реализация задач является командной работой сотрудников из различных подразделений.  Мы также принимаем активное участие в работе над кросс-функциональными проектам с коллегами из других стран присутствия DuffBeer."
      },
      {
        headline: "Мы - семейная компания и любим проводить время вместе",
        text: "Ежегодно мы проводим корпоративные мероприятия не только для наших сотрудников, но и для семей наших сотрудников. А корпоративные подарки для детей сотрудников – наша добрая предновогодняя традиция."
      },
      {
        headline: "Мы - социально ответственная компания и заботимся об окружающих",
        text: "Наша миссия лежит в основе социально-корпоративной ответственности. Мы ведем свою деятельность в соответствии с тремя основными правилами:  мы заботимся о людях; наша деятельность устойчива по своей природе; мы заботимся об окружающей среде."
      },
    ]

  section.section.section--advantages
    h2.section__headline Наши преимущества
    .section__swiper-wrapper
      .swiper.swiper-grid.swiper-grid--advantages.is-destroy
        .swiper-wrapper
          - var count = 1;
          each advantage in advantages
            .swiper-slide
              article.advantage
                .advantage__img-wrap
                  +img("content", "advantage-" + count , "jpg", 356, 178, advantage.headline, false)
                header.advantage__content
                  h3.advantage__headline !{advantage.headline}
                footer.advantage__content.advantage__content--hide
                  .advantage__inner
                    p!= advantage.text
                +btn({text: "Показать скрытый текст"})(aria-label="Показать скрытый текст").advantage__btn
                  +icon("icon-plus").advantage__btn-icon
            - count++;
      +btn({text: "Показать предыдущий слайд"})(aria-label="Показать предыдущий слайд").section__swiper-button.section__swiper-button--prev
        +icon("icon-prev").section__swiper-icon
      +btn({text: "Показать следующий слайд"})(aria-label="Показать следующий слайд").section__swiper-button.section__swiper-button--next
        +icon("icon-next").section__swiper-icon
    .section__swiper-pagination.swiper-pagination
