.advantage {
  & {
    position: relative;
    min-height: 285px;
    color: $color-default-white;
    background-color: $color-dark-powder-blue;
    overflow: hidden;

    @include vp-lg {
      min-height: 343px;
    }

    @include vp-xl {
      min-height: 317px;
    }
  }

  &__img-wrap {
    height: 178px;
    overflow: hidden;
  }

  &__img-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content &__inner > * {
    margin: 0;
    padding: 0;
  }

  &__content &__inner > * + * {
    margin-top: 10px;
  }

  &__content {
    height: 105px;
    padding: 23px 20px 50px;
    color: $color-default-white;
    background-color: $color-dark-powder-blue;
    overflow: hidden;
  }

  &__content--hide {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(105%) scale(0.55);
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

    @include vp-lg {
      padding-top: 20px;
      font-size: 18px;
      line-height: 1.25;
    }
  }

  &.is-active &__content--hide {
    visibility: visible;
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    transform: translateY(0) scale(1);
  }

  &__content--hide &__inner {
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background:
      linear-gradient(#0a3b93 30%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), #0a3b93 70%) 0 100%,
      radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
      radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
    background-attachment: local, local, scroll, scroll;
  }

  &__headline {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;

    @include vp-lg {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__btn {
    position: absolute;
    right: 10px;
    bottom: 15px;
    display: block;
    width: 35px;
    min-height: 35px;
    height: 35px;
    margin: 0;
    padding: 5px;
    font-size: 17px;
    line-height: 1;
    color: $color-default-white;
    background-color: transparent;
    border: none;
    transform-origin: center;
    transition: transform $trans-modal;

    @include vp-lg {
      padding: 5px;
    }

    @include vp-xl {
      bottom: 20px;
    }
  }

  &__btn span {
    @include visually-hidden();
  }

  &.is-active &__btn {
    transform: rotate(45deg);
  }

  &__btn-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    user-select: none;
    pointer-events: none;
  }
}
