.banner {

  &__wrapper {
    position: relative;
    min-height: 275px;
    overflow: hidden;

    @include vp-lg {
      min-height: 460px;
    }

    @include vp-xl {
      min-height: 440px;
    }
  }

  &__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: $overlay-banner-2;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    position: relative;
    z-index: 15;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 40px 10px;
    text-align: center;
    color: $color-default-white;

    @include vp-sm{
      max-width: 415px;
      padding-top: 60px;
      padding-bottom: 50px;
    }

    @include vp-lg {
      max-width: 700px;
      padding-top: 95px;
    }

    @include vp-xl {
      max-width: 900px;
    }
  }

  &__headline {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0 auto 15px;
    padding: 0 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    font-family: $ff-lato;
    text-transform: uppercase;

    @include vp-sm{
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 1.2;
    }

    @include vp-lg {
      margin-bottom: 45px;
      padding: 0 95px;
      font-size: 48px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      display: block;
      width: 15px;
      height: 1px;
      background-color: $color-default-white;

      @include vp-sm {
        top: 48%;
      }

      @include vp-lg {
        width: 66px;
        height: 4px;
      }
    }

    &::before {
      left: 3px;

      @include vp-sm {
        left: 7px;
      }
    }

    &::after {
      right: 3px;

      @include vp-sm {
        right: 7px;
      }
    }
  }

  &__subtitle {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.26;
    text-transform: uppercase;

    @include vp-lg {
      font-size: 24px;
    }
  }

  &__btn {
    min-width: 197px;
    margin: 30px 1px 0;

    @include vp-sm{
      min-width: 171px;
      margin-top: 11px;
    }

    @include vp-lg {
      min-width: 283px;
      margin-top: 35px;
    }

    @include vp-xl {
      margin-top: 43px;
    }
  }
}
