.blockquote {
  display: block;
  margin: 0;
  padding: 32px 20px 32px 43px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $color-default-white;
  background-color: $color-dark-powder-blue;
  background-image: url("../img/svg/quote.svg"), url("../img/svg/vector-2.svg");
  background-position: 14px 33px, 166px 78px;
  background-size: auto 28px, auto 132px;
  background-repeat: no-repeat, no-repeat;

  @include vp-sm {
    padding-right: 110px;
    padding-left: 70px;
    background-position: 20px 38px, 433px 8px;
  }

  @include vp-lg {
    min-height: 250px;
    padding: 95px 115px 90px 125px;
    font-size: 24px;
    line-height: 1.33;
    background-size: auto 60px, auto 332px;
    background-position: 40px 95px, 776px 74px;
  }

  @include vp-xl {
    padding-right: 265px;
    padding-left: 145px;
    background-size: auto 60px, auto 322px;
    background-position: 60px 95px, 820px 80px;
  }

  > * {
    margin: 0;
    padding: 0;
  }

  > * + * {
    margin-top: 10px;
  }
}
