.section {
  & {
    position: relative;
    padding: 55px 15px 0;
    color: $color-lined;
    background-color: $color-linen;

    @include vp-sm {
      padding: 65px 20px 40px;
    }

    @include vp-lg {
      padding: 80px 40px 0;
    }

    @include vp-xl {
      padding: 100px 60px 0;
    }
  }

  &--summary {
    @include vp-sm {
      padding-top: 55px;
    }
  }

  &:last-of-type {
    margin-bottom: 15px;
  }

  &__headline {
    margin: 0 0 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: $color-dark-powder-blue;

    @include vp-lg {
      font-size: 40px;
      line-height: 1.5;
    }

    @include vp-xl {
      margin-bottom: 30px;
    }
  }

  &__headline--lato {
    font-family: $ff-lato;
    letter-spacing: -0.025rem;
  }

  &__subtitle {
    margin: -2px 0 7px;
    font-size: 16px;
    line-height: 1.3;

    @include vp-sm {
      margin-top: -5px;
      line-height: 1.4;
    }

    @include vp-lg {
      margin-top: 5px;
      font-size: 18px;
    }

    @include vp-xl {
      margin-top: -5px;
    }
  }

  &__swiper-wrapper {
    position: relative;

    @include vp-sm {
      padding-right: 25px;
    }

    @include vp-lg {
      padding-right: 0;
    }
  }

  &__swiper-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 35px;
    min-height: 35px;
    height: 35px;
    margin: 0;
    padding: 0 5px;
    font-size: 12px;
    line-height: 1;
    background-color: transparent;
    overflow: hidden;

    @include vp-sm {
      font-size: 14px;
    }

    @include vp-lg {
      display: none;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-default-white;
        background-color: transparent;
      }
    }
  }

  &__swiper-button--prev {
    left: -25px;

    @include vp-sm {
      left: -33px;
    }
  }

  &__swiper-button--next {
    right: -25px;

    @include vp-sm {
      right: -28px;
    }
  }

  &__swiper-button span {
    @include visually-hidden();
  }

  &__swiper-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: currentColor;
    fill: currentColor;
    user-select: none;
    pointer-events: none;
  }

  &__swiper-pagination {
    @include vp-lg {
      display: none;
    }
  }

  &--advantages {
    padding-bottom: 25px;
  }

  &--advantages &__swiper-wrapper {
    @include vp-lg {
      margin-top: 32px;
    }

    @include vp-xl {
      margin-top: 60px;
    }
  }

  &--advantages &__swiper-pagination {
    position: absolute;
    bottom: -2px;

    @include vp-sm {
      bottom: 12px;
    }
  }

  &--stats {
    padding-top: 58px;
    padding-bottom: 82px;
    background-image: url("../img/svg/vector-3.svg");
    background-size: auto 297px;
    background-position: bottom -200px right -82px;
    background-repeat: no-repeat;

    @include vp-sm {
      padding-top: 43px;
      padding-bottom: 70px;
      background-position: bottom -215px right -43px;
    }

    @include vp-lg {
      padding-top: 60px;
      padding-bottom: 140px;
      background-image: url("../img/svg/vector-3.svg"), url("../img/svg/vector-4.svg");
      background-position: top 55px right -90px,top 671px left -20px;
      background-size: auto 418px, auto 368px;
      background-repeat: no-repeat, no-repeat;
    }

    @include vp-xl {
      padding-top: 92px;
      padding-bottom: 120px;
      background-position: top 92px right -2px,top 589px left 0;
    }
  }

  &--stats &__swiper-wrapper {
    @include vp-sm {
      margin-top: 45px;
    }

    @include vp-lg {
      margin-top: 33px;
    }

    @include vp-xl {
      margin-top: 60px;
    }
  }

  &--stats &__swiper-pagination {
    position: absolute;
    top: 20px;
    left: 10px;
    bottom: auto;
    text-align: left;

    @include vp-sm {
      position: relative;
      top: auto;
      margin-top: 4px;
      text-align: center;
    }
  }
}
