.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include vp-sm {
    max-width: 640px;
  }

  @include vp-lg {
    max-width: 960px;
  }

  @include vp-xl {
    max-width: 1280px;
  }
}
