mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .header__wrapper
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          img(src="img/svg/logo.svg", alt="Логотип Conecom").header__logo-img
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="img/svg/logo.svg", alt="Логотип Conecom").header__logo-img
      .header__content
        h1.header__headline.header__headline--box
          span.header__headline Conecom
          span.header__subtitle российское подразделение французской группы DuffBeer
      +img("content", "banner-1", "jpg", 1250, 599, "Conecom - российское подразделение французской группы DuffBeer", true).header__img
